In [1]:
#import the library
import os
from dotenv import load_dotenv
import mysql.connector as connector

### Task 1

In [ ]:
# Load secret variables
load_dotenv()
mypass = os.getenv("mysqlPassDoc")
user = os.getenv("mysqlUser")

# Create connection
connection=connector.connect(user=user,port=3310,password=mypass)

In [ ]:
# Create a cursor
cursor = connection.cursor()

In [ ]:
# Select the database
cursor.execute("USE littlelemondb")

In [12]:
connection.database

'littlelemondb'

### Task two
Query the database to show all tables within the database.

In [ ]:
# Show tables
cursor.execute("Show tables")
results = cursor.fetchall()

for i in results:
    print(i[0])

Bookings
Customers
Employees
Items
MenuItems
Menus
OrderDelivery
Orders
OrdersView

### Task 3
#### Query with table JOIN

Little Lemon need you to return the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

+ Step One: Identify which tables are required. To complete the query, you first need to identify which table has the required data. 

The bill paid can be found in Orders as TotalCost and the customer contact information can be found in the Customers table.

In [23]:
# Write the query
query = """SELECT FullName, PhoneNumber, Email 
        FROM Customers INNER JOIN   
        (SELECT CustomerID, OrderNo, SUM(TotalCost) as Cost from Orders GROUP BY OrderNo, CustomerID HAVING Cost > 60) Ordersover
        ON Customers.CustomerID = Ordersover.CustomerID
        GROUP BY Customers.CustomerID
        """
cursor.execute(query)
results = cursor.fetchall()
for i in results:
    print(i)

('Aime Ferry', 930779628, 'aime_ferry@gmail.com')
('Merwin Pikhno', 529347220, 'merwin_pikhno@gmail.com')
("Susette O'Neil", 11693967, "susette_o'neil@gmail.com")
('Schuyler Walewski', 443719315, 'schuyler_walewski@gmail.com')
('Alfreda Chasmer', 474238685, 'alfreda_chasmer@gmail.com')
('Melodee Gartshore', 309025761, 'melodee_gartshore@gmail.com')
('Mary Jellett', 814884385, 'mary_jellett@gmail.com')
('Roanna Safont', 917578892, 'roanna_safont@gmail.com')
('Janeva Silman', 192036248, 'janeva_silman@gmail.com')
('Karissa Sancraft', 130402063, 'karissa_sancraft@gmail.com')
('Sheela Stein', 953398822, 'sheela_stein@gmail.com')
('Faith Grushin', 825203770, 'faith_grushin@gmail.com')
('Mady McMennum', 469572549, 'mady_mcmennum@gmail.com')
('Donni Tatem', 378453065, 'donni_tatem@gmail.com')
('Merlina Lermit', 811551642, 'merlina_lermit@gmail.com')
('Yardley Eliet', 368502399, 'yardley_eliet@gmail.com')

In [25]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.

### Author: Anastasia Livio - Marzo, 2025